---
import Layout from '../layouts/Layout.astro';
import BlogPost from "../components/BlogPost.jsx";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Social from '../components/Social.astro';
import { getCollection, getEntry } from 'astro:content';


const allPosts = await getCollection("posts");
console.log(allPosts);
---



<Layout title="Valentin Ciolofan | Blog">
<div class="">
  <h1 class="text-4xl">Blog</h1>

  <div class="container mx-auto my-40 flex justify-center">
    <ul class="flex flex-wrap justify-center max-w-7xl ">
      {allPosts.map(post => <BlogPost url={post.slug} title={post.data.title} image={post.data.image} duration={post.data.duration} date={post.data.date} pitch={post.data.pitch}/>)}
    </ul>
  </div>
</div>

</Layout>