---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Valentin Ciolofan Web Developer">
  <main class="">
    <!-- landing section with navbar and offer plus CTA button-->

     <!-- Modal -->



    <section
      class="flex flex-col justify-center items-center h-screen"
      id="landingPage"
    >
    
      <!-- offer container -->
      <div class="offer-container max-w-full">
        <span class="blur"></span>

        <div class="offer md:flex md:justify-center md:gap-16">
          <!--offer and CTA -->
          <div
            class="left-side flex flex-col justify-center items-center text-center md:items-start md:text-left"
          >
            <span class="blur2"></span>
            <h1 class="mb-4 text-5xl">Hi, I'm Valentin</h1>
            <p class="mb-4 text-md">
              A passionate Web Developer who transforms Ideas into Digital
              Reality
            </p>
            
            <!-- <p>Transforming Ideas into Exceptional Digital Experiences</p> -->
            <h3 class="mb-3 text-base">
              Tired of your old, slow, and outdated website?
            </h3>
            <div id="modal" class="hidden fixed flex justify-center items-center z-50 inset-0 bg-zinc-600 bg-opacity-50 overflow-y-auto h-full w-full transition-opacity duration-300 ease-in-out">
              <!-- Modal content -->
              <div class="relative p-5 border border-zinc-800 max-w-2xl min-h-96 shadow-lg rounded-md bg-zinc-900">
                  <div class="mt-3 text-center">
                    <!-- CLOSE FORM -->
                    <div class="absolute top-0 right-0 p-2 text-2xl">
                      <button id="closeModal" class="text-gray-600 hover:text-gray-400">&times;</button>
                    </div>
                    <!-- END OF CLOSE FORM -->
                      <h3 class="text-lg leading-6 font-medium text-zinc-300">Contact</h3>
                      <div class="mt-2 px-7 py-3">
                          <form action="https://formsubmit.co/bd60f0c98c2c422591f955461fdf9451" method="POST" class="*:border-zinc-800">
                              <input type="text" name="name" placeholder="Your Name" class="mb-3 px-3 py-2 border rounded w-full" required>
                              <input type="email" name="email" placeholder="Your Email" class="mb-3 px-3 py-2 border rounded w-full"required>
                              <textarea name="message" rows="4" placeholder="Your Message" class="mb-3 px-3 py-2 border rounded w-full" required></textarea>
                              <button type="submit" class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-zinc-700">Send</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
            <button
              class="openModal btn-cta-homepage text-base bg-gradient-to-r from-indigo-500 to-purple-500 hover:from-indigo-600 hover:to-purple-600 text-white py-2 px-2 rounded-md transition duration-300 ease-in-out"
            >
              Request a website now!
            </button>
          </div>
          <!--end of offer and CTA -->
          <!--hero section photo -->
          <div
            class="md:pt-4 lg:p-0 right-side photo md:flex md:justify-center md:w-2/5"
          >
            <img
              alt="landing page photo"
              class="hidden md:block max-w-full"
              src="/images/landingpage.png"
            />
          </div>
          <!--end of hero section photo -->
        </div>
      </div>
    </section>
    <!-- END OF LANDING SECTION -->

    <!--ABOUT ME SECTION -->
    <section class="about-me flex flex-col justify-center items-center py-28 gap-7 bg-about-me" id="aboutme">
      <div class="container sm:mx-20 md:mx-4 flex flex-col md:flex-row gap-7">
      <div class="contact-me h-fit md:sticky top-24 flex flex-col sidebar rounded-2xl border border-solid border-zinc-700 p-6 shadow-2xl active bg-light-dark">
        <div class="flex flex-row justify-center">
          <div class="flex gap-3 flex-col items-center ">
            <div>
              <img class ="avatar-about-me w-20 sm:w-28 xl:w-36 rounded-3xl" src="../../public/images/avatar.png" alt="Avatar Photo" width="150px" height="auto">
            </div>
            <div class="flex flex-col gap-1">
              <p>Valentin Ciolofan</p>
              <p class="inline-block text-white text-xs bg-zinc-700 text-center rounded-lg py-0.5 px-3 sm:py-1.5 sm:px-4 xl:m-auto font-light">Web Developer</p>
            </div>
          </div>
        
        </div>
      <!-- social media links -->
       <div class="mt-6">
        <hr class="border-zinc-700 my-8 text-light-zinc-70 h-px sm:mt-8 ">
        <div class="flex justify-between *:flex gap-3 flex-wrap  max-[325px]:flex max-[325px]:justify-center">
         <div class="flex gap-3">
            <div class="self-center px-4 py-4 rounded-md shadow-inner bg-zinc-800">
              <svg fill="none" stroke="currentColor" stroke-width="1.5" class="h-4 svgFilter" viewBox="0 0 24 24" data-astro-cid-b4beqkka="" astro-icon="envelope"><path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"></path></svg>
            </div>
           <div class="hidden min-[325px]:block">
            <p>Email</p>
            <p>valentincatalin02@gmail.com</p>
           </div>
        </div>
        <div class="flex gap-3 self-end"> 
          <div class="self-center px-4 py-4 rounded-md shadow-inner bg-zinc-800">
            <svg fill="none" stroke="currentColor" stroke-width="1.5" class="h-4 text-light-slate" viewBox="0 0 24 24" data-astro-cid-b4beqkka="" astro-icon="phone"><path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"></path></svg>
            </div>
            <div class="hidden min-[325px]:block">
            <p>Phone</p>
            <p>0752807961</p>
            </div>
        </div>
       </div>
        
        <hr class="border-zinc-700 my-8 text-light-gray-70 h-px sm:mt-8 xl:opacity-0 xl:my-2">
        </div>

        <div>
        </div>
       
      </div>
      <!--ABOUT ME DIV-->
      <div class="about-me rounded-2xl border border-solid border-zinc-700 p-6 sm:p-8 bg-light-dark">
        <div class="flex flex-col gap-2"> 
          <h2>About me</h2>

          <p class="hyphens-auto pb-4">Hey there, I'm Valentin, a passionate Web Developer with a passion for turning ideas into digital reality. Collaboration is key in my world. I thrive on working closely with teams to transform concepts into captivating online experiences. <br><br>

            My skill set is robust, boasting fluency in HTML, CSS, and JavaScript the foundational languages of the web. I also specialize in cutting-edge frameworks like React and Astro, which allow me to build dynamic, responsive, and visually stunning websites that leave a lasting impact.<br><br>
            
            Let's team up and bring your digital dreams to life. With my expertise and your vision, we'll create web solutions that stand out from the crowd and elevate your online presence.</p>

        <!--Services -->
        <div>
          <div>
          <h1 class="pb-4">Services</h1>
          </div>
          <!--card services -->
          <div class="*:bg-zinc-800 grid grid-cols-1 gap-3 lg:grid-cols-2 *:items-center">
            <div class="card card-side shadow-xl md:p-0">
              <div class="p-2"><svg fill="none" viewBox="0 0 42 42" class="h-10 svgFilter" astro-icon="icon-webdesign"><path fill="url(#astroicon:icon-webdesigna)" fill-rule="evenodd" d="M40.638 19.814a.586.586 0 0 0-.64.128l-1.759 1.764V9.712a.588.588 0 0 0-.587-.59h-4.51l1.637-1.642 1.578-1.584c.338-.339.525-.79.525-1.27s-.187-.93-.525-1.27l-1.824-1.83A1.776 1.776 0 0 0 33.267 1c-.478 0-.928.187-1.266.526L30.423 3.11l-1.908 1.913-4.086 4.1H6.205V3.296a.588.588 0 0 0-.587-.59C3.07 2.707 1 4.786 1 7.34v25.017c0 .043.005.086.014.127a4.442 4.442 0 0 0 1.33 2.855 4.414 4.414 0 0 0 3.103 1.267h17.94l-3.378 3.39A.59.59 0 0 0 20.424 41h19.989a.588.588 0 0 0 .587-.589V20.358a.59.59 0 0 0-.362-.544ZM32.832 2.359c.24-.241.63-.241.87 0l1.825 1.83a.62.62 0 0 1 0 .874l-1.163 1.168-2.696-2.705 1.163-1.167Zm-1.994 2 2.695 2.704-1.077 1.081-2.695-2.704 1.077-1.08ZM18.397 21.76l-1.682.596-1.12-1.125.593-1.687 2.209 2.216Zm17.432 8.41-5.658 5.66a.1.1 0 0 0 .07.17H36v-5.759a.1.1 0 0 0-.17-.07ZM16 18.5l3.5 3.5 13-13L29 5.5l-13 13Z" clip-rule="evenodd" opacity=".15"></path><path fill="url(#astroicon:icon-webdesignb)" stroke="url(#astroicon:icon-webdesignc)" stroke-width=".25" d="M36.4 29.255a.586.586 0 0 0-.64.128l-6.416 6.436a.59.59 0 0 0 .415 1.006h6.416a.588.588 0 0 0 .587-.59V29.8a.59.59 0 0 0-.362-.544Zm-5.224 6.392 4.412-4.426v4.426h-4.412Z"></path><path fill="url(#astroicon:icon-webdesignd)" stroke="url(#astroicon:icon-webdesigne)" stroke-width=".25" d="M40.638 19.814a.586.586 0 0 0-.64.128l-1.759 1.764V9.712a.588.588 0 0 0-.587-.59h-4.51l1.637-1.642 1.578-1.584c.338-.339.525-.79.525-1.27s-.187-.93-.525-1.27l-1.824-1.83A1.776 1.776 0 0 0 33.267 1c-.478 0-.928.187-1.266.526L30.423 3.11l-1.908 1.913-4.086 4.1H6.205V3.296a.588.588 0 0 0-.587-.59C3.07 2.707 1 4.786 1 7.34v25.017c0 .043.005.086.014.127a4.442 4.442 0 0 0 1.33 2.855 4.414 4.414 0 0 0 3.103 1.267h17.94l-3.378 3.39A.59.59 0 0 0 20.424 41h19.989a.588.588 0 0 0 .587-.589V20.358a.59.59 0 0 0-.362-.544ZM32.832 2.359c.24-.241.63-.241.87 0l1.825 1.83a.62.62 0 0 1 0 .874l-1.163 1.168-2.696-2.705 1.163-1.167Zm-1.994 2 2.695 2.704-1.077 1.081-2.695-2.704 1.077-1.08Zm8.988 22.617h-1.083a.588.588 0 0 0 0 1.178h1.083v1.775h-1.083a.588.588 0 0 0 0 1.178h1.083v1.775h-1.083a.588.588 0 0 0 0 1.178h1.083v1.775h-1.083a.588.588 0 0 0 0 1.178h1.083v2.81H21.842l5.93-5.95a.59.59 0 0 0-.084-.903.586.586 0 0 0-.746.07l-2.38 2.387H5.448a3.26 3.26 0 0 1-3.271-3.178 3.472 3.472 0 0 1 .05-.49l.003-.018a3.406 3.406 0 0 1 .14-.53l.02-.06.046-.115.013-.033c.02-.047.041-.093.063-.14l.003-.005a3.458 3.458 0 0 1 2.558-1.913l.025-.004.135-.018.038-.004c.043-.005.087-.008.131-.01l.042-.003a3.45 3.45 0 0 1 .174-.005.588.588 0 0 0 .587-.589v-4.27a.588.588 0 1 0-1.175 0v3.718a4.58 4.58 0 0 0-2.856 1.512V7.34A3.457 3.457 0 0 1 5.03 3.935v17.75a.588.588 0 1 0 1.175 0V10.302h17.05l-3.246 3.256a.59.59 0 0 0 0 .833c.23.23.601.23.83 0l4.248-4.262 3.843-3.855 2.696 2.704-.317.317v.001L19.47 21.172l-2.696-2.705 2.333-2.34a.59.59 0 0 0 0-.834.586.586 0 0 0-.83 0l-2.749 2.758a.6.6 0 0 0-.04.046l-.013.017a.666.666 0 0 0-.024.033l-.012.021a.643.643 0 0 0-.044.091l-.005.012-1.144 3.251-.78 2.216a.59.59 0 0 0-.023.09h-1.952a.588.588 0 0 0 0 1.178H27.75a.588.588 0 0 0 0-1.178H16.085l3.58-1.268.01-.004a.647.647 0 0 0 .04-.017l.017-.007a.563.563 0 0 0 .041-.023l.013-.008a.582.582 0 0 0 .042-.03l.01-.007a.591.591 0 0 0 .047-.043l12.082-12.12h5.098v12.583l-8.398 8.425a.59.59 0 0 0 .415 1.006.584.584 0 0 0 .415-.173L39.827 21.78v5.196Zm-21.43-5.216-1.681.596-1.12-1.125.593-1.687 2.209 2.216Z"></path><defs><linearGradient id="astroicon:icon-webdesigna" x1="3.267" x2="37.8" y1="1" y2="39.133" gradientUnits="userSpaceOnUse"><stop offset=".259" stop-color="currentColor"></stop><stop offset="1" stop-color="currentColor"></stop></linearGradient><linearGradient id="astroicon:icon-webdesignb" x1="29.602" x2="36.178" y1="29.21" y2="36.448" gradientUnits="userSpaceOnUse"><stop offset=".259" stop-color="currentColor"></stop><stop offset="1" stop-color="currentColor"></stop></linearGradient><linearGradient id="astroicon:icon-webdesignc" x1="29.602" x2="36.178" y1="29.21" y2="36.448" gradientUnits="userSpaceOnUse"><stop offset=".259" stop-color="currentColor"></stop><stop offset="1" stop-color="currentColor"></stop></linearGradient><linearGradient id="astroicon:icon-webdesignd" x1="3.267" x2="37.8" y1="1" y2="39.133" gradientUnits="userSpaceOnUse"><stop offset=".259" stop-color="currentColor"></stop><stop offset="1" stop-color="currentColor"></stop></linearGradient><linearGradient id="astroicon:icon-webdesigne" x1="3.267" x2="37.8" y1="1" y2="39.133" gradientUnits="userSpaceOnUse"><stop offset=".259" stop-color="currentColor"></stop><stop offset="1" stop-color="currentColor"></stop></linearGradient></defs></svg></div>
              <div class="card-body">
                  <h2 class="card-title">Static Websites</h2>
                  <p>Allowing clients to tailor the template to their brand identity.</p>
              </div>
            </div>

          <div class="card card-side shadow-xl">
            <div class="p-2"><svg fill="none" viewBox="0 0 22 40" class="w-10 h-10 svgFilter" astro-icon="icon-phone"><path fill="url(#astroicon:icon-phonea)" fill-rule="evenodd" d="M3 1a2 2 0 0 0-2 2v34a2 2 0 0 0 2 2h15.9a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-3.237v1H6.237V1H3Z" clip-rule="evenodd" opacity=".15"></path><path fill="url(#astroicon:icon-phoneb)" d="M8.509 35.675a.676.676 0 1 0 0 1.352v-1.352Zm4.954 1.352a.676.676 0 0 0 0-1.352v1.352ZM.4 29.414a.676.676 0 0 0 1.353 0H.4Zm1.353 2.973a.676.676 0 1 0-1.353 0h1.353ZM20.219 7.613a.676.676 0 1 0 1.353 0h-1.353Zm1.353 2.973a.676.676 0 0 0-1.353 0h1.353ZM18.48 38.647H3.492V40H18.48v-1.353ZM3.492 1.353h3.035V0H3.492v1.353Zm2.358.34h1.353V.675H5.85v1.016Zm1.643 1.642h6.986V1.982H7.493v1.353Zm-.966-1.982h8.918V0H6.527v1.353Zm8.918 0h3.035V0h-3.035v1.353Zm.677.34V.675h-1.353v1.016h1.353ZM8.509 37.026h4.954v-1.352H8.51v1.352Zm-6.756-7.613V3.092H.4v26.322h1.353Zm0 7.494v-4.521H.4v4.521h1.353ZM20.219 3.092v4.521h1.353V3.092h-1.353Zm0 7.494v26.322h1.353V10.586h-1.353Zm-5.74-7.251c.907 0 1.643-.736 1.643-1.643h-1.353c0 .16-.13.29-.29.29v1.353ZM3.492 38.647a1.74 1.74 0 0 1-1.74-1.739H.4A3.092 3.092 0 0 0 3.492 40v-1.353ZM18.48 40a3.092 3.092 0 0 0 3.092-3.092h-1.353c0 .96-.779 1.74-1.739 1.74V40Zm0-38.647c.96 0 1.74.778 1.74 1.739h1.352A3.092 3.092 0 0 0 18.48 0v1.353Zm-12.63.34c0 .906.736 1.642 1.643 1.642V1.982a.29.29 0 0 1-.29-.29H5.85ZM3.492 0A3.092 3.092 0 0 0 .4 3.092h1.353c0-.96.778-1.74 1.739-1.74V0Z"></path><defs><linearGradient id="astroicon:icon-phonea" x1="2.128" x2="30.702" y1="1" y2="17.524" gradientUnits="userSpaceOnUse"><stop offset=".259" stop-color="currentColor"></stop><stop offset="1" stop-color="currentColor"></stop></linearGradient><linearGradient id="astroicon:icon-phoneb" x1="1.6" x2="31.837" y1="0" y2="17.673" gradientUnits="userSpaceOnUse"><stop offset=".259" stop-color="currentColor"></stop><stop offset="1" stop-color="currentColor"></stop></linearGradient></defs></svg></div>
            <div class="card-body">
                <h2 class="card-title">Responsive Design</h2>
                <p>Layouts that will work on any device, big or small.</p>
            </div>
          </div>

         <div class="card card-side shadow-xl">

          <div class="p-2"><svg  width="40px" height="40px" viewBox="0 0 30 30" version="1.1" id="svg822" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <defs id="defs816"></defs> <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#a91e1e" borderopacity="1.0" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="17.866667" inkscape:cx="15" inkscape:cy="15" inkscape:document-units="px" inkscape:current-layer="layer1" showgrid="true" units="px" inkscape:window-width="1366" inkscape:window-height="705" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:window-maximized="1" inkscape:lockguides="true"> <inkscape:grid type="xygrid" id="grid816"></inkscape:grid> </sodipodi:namedview> <metadata id="metadata819"> <rdf:rdf> <cc:work rdf:about=""> <dc:format>image/svg+xml</dc:format> <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type> <dc:title></dc:title> </cc:work> </rdf:rdf> </metadata> <g ="Layer 1"  id="layer1" transform="translate(0,-289.0625)"> <path style="opacity:1;fill:#b0b0b0;fill-opacity:1;stroke:none;stroke-width:10;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="m 14.703125,5.5722656 a 12,12 0 0 0 -12,12.0000004 12,12 0 0 0 0.6894531,3.964843 A 10.746539,10.746539 0 0 1 3.0976562,19.09375 10.746539,10.746539 0 0 1 13.84375,8.3476562 10.746539,10.746539 0 0 1 19.826172,10.173828 L 21.966797,8.0332031 A 12,12 0 0 0 14.703125,5.5722656 Z m 9.148437,3.6035156 c -0.25173,0.00423 -0.507325,0.1022801 -0.71875,0.28125 l -9.193359,7.7812498 c -0.422789,0.35795 -1.416166,1.411952 -0.002,2.826172 1.414471,1.41445 2.468093,0.418804 2.826172,-0.0039 l 7.783203,-9.189453 c 0.358051,-0.42275 0.391737,-1.0223328 0,-1.4140628 -0.195869,-0.19587 -0.443582,-0.285475 -0.695313,-0.28125 z m 1.84961,3.6074218 -2.021484,2.021485 A 10.746539,10.746539 0 0 1 24.585938,19 h 2.015624 a 12,12 0 0 0 0.101563,-1.427734 12,12 0 0 0 -1.001953,-4.789063 z" transform="translate(0,289.0625)" id="path4625" inkscape:connector-curvature="0"></path> </g> </g></svg></div>
          <div class="card-body">
              <h2 class="card-title">Fast</h2>
              <p>Fast load times and lag free interaction.</p>
          </div>
          </div>

     
     
     
          <div class="card card-side shadow-xl">
           <div class="p-2"><svg width="40px" height="40px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M244.5 662l268.1-446.4 268 446.4z" fill="#a3a3a3"></path><path d="M780.6 676.2H244.5c-5.3 0-10.2-2.7-12.8-7.1s-2.6-9.8 0-14.3l268.1-446.3c2.6-4.4 7.5-7.1 12.8-7.1 5.3 0 10.2 2.7 12.8 7.1l268.1 446.3c2.6 4.4 2.6 9.8 0 14.3-2.7 4.4-7.6 7.1-12.9 7.1z m-510.5-28.5H755L512.6 244.2 270.1 647.7z" fill="#a3a3a3"></path><path d="M512.6 23s129 131.7 129 352.4-129 376-129 376-129-155.3-129-376S512.6 23 512.6 23z" fill="#F7F9F9"></path><path d="M512.6 765.7c-4.5 0-8.8-2-11.6-5.4-1.4-1.6-33.7-40.9-66.4-108.1-30.1-61.9-65.9-160.2-65.9-276.8 0-116.9 36-208.8 66.1-265.4 32.8-61.6 65.5-95.3 66.9-96.7 2.8-2.9 6.7-4.5 10.8-4.5 4.1 0 8 1.6 10.8 4.5 1.4 1.4 34.1 35.1 66.9 96.7 30.2 56.6 66.1 148.6 66.1 265.4 0 116.6-35.8 214.9-65.9 276.8-32.6 67.2-65 106.5-66.4 108.1-2.7 3.4-6.9 5.4-11.4 5.4z m0-720.5c-11.9 14.5-32 41.3-51.8 78.8-28.4 53.6-62.4 140.8-62.4 251.5 0 111.4 34.3 205.4 63.1 264.7 19.6 40.3 39.1 70.2 51.1 86.9 12-16.9 31.9-47.2 51.5-87.8 28.6-59.1 62.7-152.9 62.7-263.9 0-110.7-33.9-197.8-62.4-251.5-19.9-37.4-40-64.3-51.8-78.7z" fill="#a3a3a3"></path><path d="M447.6 278.9a65 62.4 0 1 0 130 0 65 62.4 0 1 0-130 0Z" fill="#a3a3a3"></path><path d="M512.6 355.6c-44 0-79.8-34.4-79.8-76.7s35.8-76.7 79.8-76.7 79.8 34.4 79.8 76.7-35.9 76.7-79.8 76.7z m0-124.8c-27.6 0-50.1 21.6-50.1 48.2s22.5 48.2 50.1 48.2 50.1-21.6 50.1-48.2-22.5-48.2-50.1-48.2z" fill="#a3a3a3"></path><path d="M570 860.9c0 13 1.5-7.5-57.4 141.4-56.2-142.1-57.4-128.4-57.4-141.4 0-36 25.7-65.2 57.4-65.2s57.4 29.2 57.4 65.2z" fill="#a3a3a3"></path><path d="M512.5 1016.6c-6.2 0-11.7-3.7-13.9-9.2-31.2-78.9-45.6-110.1-51.8-123.3-5.4-11.6-6.6-14.3-6.6-23.1 0-43.8 32.4-79.5 72.2-79.5 39.8 0 72.2 35.7 72.2 79.5v0.9c0 7.7-1 9.9-5.3 19.1-5.8 12.4-19.5 41.6-53.1 126.5-2 5.4-7.5 9.1-13.7 9.1z m0-206.7c-23.5 0-42.6 22.9-42.6 51 0 2.7 0 2.7 4.1 11.5 5.7 12.3 16.5 35.7 38.5 90.1 24-59.5 34.8-82.6 39.9-93.4 1.2-2.5 2.3-4.9 2.7-5.9v-2.3c0-28.1-19.1-51-42.6-51z" fill="#a3a3a3"></path></g></svg></div>
        <div class="card-body">
            <h2 class="card-title">Intuitive</h2>
            <p>Easy to use and intuitive UX/UI.</p>
        </div>
    </div>
          </div>
          
          
          <!-- end of cards services -->

        
        </div>
      </div>
      <!--STACK -->
      <div class="my-10">
        <h2>Stack</h2>
        <div class="mt-4 flex flex-wrap gap-3">
          <svg width="60px" height="60px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#E44D26"></path> <path d="M26 5H16V29.5L24 27L26 5Z" fill="#F16529"></path> <path d="M9.5 17.5L8.5 8H24L23.5 11H11.5L12 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5H9.5Z" fill="white"></path> </g></svg>
          <svg width="60px" height="60px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#1172B8"></path> <path d="M26 5H16V29.5L24 27L26 5Z" fill="#33AADD"></path> <path d="M19.5 17.5H9.5L9 14L17 11.5H9L8.5 8.5H24L23.5 12L17 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5Z" fill="white"></path> </g></svg>
          <svg width="60px" height="60px" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M0 222.991C0 241.223 14.779 256 33.009 256H222.99C241.223 256 256 241.221 256 222.991V33.01C256 14.777 241.221 0 222.991 0H33.01C14.777 0 0 14.779 0 33.009V222.99z" fill="#563D7C"></path><path d="M106.158 113.238V76.985h31.911c3.04 0 5.97.253 8.792.76 2.822.506 5.319 1.41 7.49 2.713 2.17 1.303 3.907 3.112 5.21 5.427 1.302 2.316 1.954 5.283 1.954 8.9 0 6.513-1.954 11.217-5.862 14.111-3.907 2.895-8.9 4.342-14.979 4.342h-34.516zM72.075 50.5v155h75.112c6.947 0 13.713-.868 20.298-2.605 6.585-1.737 12.446-4.414 17.584-8.032 5.137-3.618 9.226-8.286 12.265-14.002 3.04-5.717 4.559-12.483 4.559-20.298 0-9.697-2.352-17.982-7.055-24.856-4.704-6.875-11.832-11.687-21.384-14.437 6.947-3.328 12.194-7.598 15.74-12.808 3.545-5.21 5.318-11.722 5.318-19.538 0-7.236-1.194-13.314-3.582-18.235-2.388-4.92-5.753-8.864-10.095-11.831-4.341-2.967-9.551-5.102-15.63-6.404-6.078-1.303-12.808-1.954-20.189-1.954H72.075zm34.083 128.515v-42.549h37.121c7.381 0 13.315 1.7 17.802 5.102 4.486 3.401 6.73 9.081 6.73 17.041 0 4.053-.688 7.381-2.063 9.986-1.375 2.605-3.22 4.668-5.536 6.187-2.315 1.52-4.993 2.605-8.032 3.257-3.04.65-6.223.976-9.552.976h-36.47z" fill="#FFF"></path></g></svg>

          <svg width="60px" height="60px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect x="2" y="2" width="28" height="28" fill="#FFCA28"></rect> <path d="M19 25.2879L21.0615 23.9237C21.2231 24.4313 22.2462 25.6368 23.5385 25.6368C24.8308 25.6368 25.4308 24.931 25.4308 24.463C25.4308 23.1878 24.1112 22.7382 23.4774 22.5223C23.374 22.4871 23.289 22.4581 23.2308 22.4328C23.2009 22.4198 23.1558 22.4025 23.0979 22.3804C22.393 22.1111 19.7923 21.1175 19.7923 18.2373C19.7923 15.065 22.8538 14.7002 23.5462 14.7002C23.9991 14.7002 26.1769 14.7557 27.2615 16.7939L25.2615 18.1898C24.8231 17.3015 24.0946 17.0081 23.6462 17.0081C22.5385 17.0081 22.3077 17.8201 22.3077 18.1898C22.3077 19.227 23.5112 19.6919 24.5273 20.0844C24.7932 20.1871 25.0462 20.2848 25.2615 20.3866C26.3692 20.91 28 21.7666 28 24.463C28 25.8136 26.8672 28.0002 24.0154 28.0002C20.1846 28.0002 19.1692 25.7003 19 25.2879Z" fill="#3E3E3E"></path> <path d="M9 25.5587L11.1487 24.1953C11.317 24.7026 11.9713 25.638 12.9205 25.638C13.8698 25.638 14.3557 24.663 14.3557 24.1953V15.0002H16.9982V24.1953C17.041 25.4636 16.3376 28.0002 13.2332 28.0002C10.379 28.0002 9.19242 26.3039 9 25.5587Z" fill="#3E3E3E"></path> </g></svg>
          <svg width="60px" height="60px" viewBox="0 -14 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M210.483381,73.8236374 C207.827698,72.9095503 205.075867,72.0446761 202.24247,71.2267368 C202.708172,69.3261098 203.135596,67.4500894 203.515631,65.6059664 C209.753843,35.3248922 205.675082,10.9302478 191.747328,2.89849283 C178.392359,-4.80289661 156.551327,3.22703567 134.492936,22.4237776 C132.371761,24.2697233 130.244662,26.2241201 128.118477,28.2723861 C126.701777,26.917204 125.287358,25.6075897 123.876584,24.3549348 C100.758745,3.82852863 77.5866802,-4.82157937 63.6725966,3.23341515 C50.3303869,10.9571328 46.3792156,33.8904224 51.9945178,62.5880206 C52.5367729,65.3599011 53.1706189,68.1905639 53.8873982,71.068617 C50.6078941,71.9995641 47.4418534,72.9920277 44.4125156,74.0478303 C17.3093297,83.497195 0,98.3066828 0,113.667995 C0,129.533287 18.5815786,145.446423 46.8116526,155.095373 C49.0394553,155.856809 51.3511025,156.576778 53.7333796,157.260293 C52.9600965,160.37302 52.2875179,163.423318 51.7229345,166.398431 C46.3687351,194.597975 50.5500231,216.989464 63.8566899,224.664425 C77.6012619,232.590464 100.66852,224.443422 123.130185,204.809231 C124.905501,203.257196 126.687196,201.611293 128.472081,199.886102 C130.785552,202.113904 133.095375,204.222319 135.392897,206.199955 C157.14963,224.922338 178.637969,232.482469 191.932332,224.786092 C205.663234,216.837268 210.125675,192.78347 204.332202,163.5181 C203.88974,161.283006 203.374826,158.99961 202.796573,156.675661 C204.416503,156.196743 206.006814,155.702335 207.557482,155.188332 C236.905331,145.46465 256,129.745175 256,113.667995 C256,98.2510906 238.132466,83.3418093 210.483381,73.8236374 L210.483381,73.8236374 Z M204.118035,144.807565 C202.718197,145.270987 201.281904,145.718918 199.818271,146.153177 C196.578411,135.896354 192.205739,124.989735 186.854729,113.72131 C191.961041,102.721277 196.164656,91.9540963 199.313837,81.7638014 C201.93261,82.5215915 204.474374,83.3208483 206.923636,84.1643056 C230.613348,92.3195488 245.063763,104.377206 245.063763,113.667995 C245.063763,123.564379 229.457753,136.411268 204.118035,144.807565 L204.118035,144.807565 Z M193.603754,165.642007 C196.165567,178.582766 196.531475,190.282717 194.834536,199.429057 C193.309843,207.64764 190.243595,213.12715 186.452366,215.321689 C178.384612,219.991462 161.131788,213.921395 142.525146,197.909832 C140.392124,196.074366 138.243609,194.114502 136.088259,192.040261 C143.301619,184.151133 150.510878,174.979732 157.54698,164.793993 C169.922699,163.695814 181.614905,161.900447 192.218042,159.449363 C192.740247,161.555956 193.204126,163.621993 193.603754,165.642007 L193.603754,165.642007 Z M87.2761866,214.514686 C79.3938934,217.298414 73.1160375,217.378157 69.3211631,215.189998 C61.2461189,210.532528 57.8891498,192.554265 62.4682434,168.438039 C62.9927272,165.676183 63.6170041,162.839142 64.3365173,159.939216 C74.8234575,162.258154 86.4299951,163.926841 98.8353334,164.932519 C105.918826,174.899534 113.336329,184.06091 120.811247,192.08264 C119.178102,193.65928 117.551336,195.16028 115.933685,196.574699 C106.001303,205.256705 96.0479605,211.41654 87.2761866,214.514686 L87.2761866,214.514686 Z M50.3486141,144.746959 C37.8658105,140.48046 27.5570398,134.935332 20.4908634,128.884403 C14.1414664,123.446815 10.9357817,118.048415 10.9357817,113.667995 C10.9357817,104.34622 24.8334611,92.4562517 48.0123604,84.3748281 C50.8247961,83.3942121 53.7689223,82.4701001 56.8242337,81.6020363 C60.0276398,92.0224477 64.229889,102.917218 69.3011135,113.93411 C64.1642716,125.11459 59.9023288,136.182975 56.6674809,146.725506 C54.489347,146.099407 52.3791089,145.440499 50.3486141,144.746959 L50.3486141,144.746959 Z M62.7270678,60.4878073 C57.9160346,35.9004118 61.1112387,17.3525532 69.1516515,12.6982729 C77.7160924,7.74005624 96.6544653,14.8094222 116.614922,32.5329619 C117.890816,33.6657739 119.171723,34.8514442 120.456275,36.0781256 C113.018267,44.0647686 105.66866,53.1573386 98.6480514,63.0655695 C86.6081646,64.1815215 75.0831931,65.9741531 64.4868907,68.3746571 C63.8206914,65.6948233 63.2305903,63.0619242 62.7270678,60.4878073 L62.7270678,60.4878073 Z M173.153901,87.7550367 C170.620796,83.3796304 168.020249,79.1076627 165.369124,74.9523483 C173.537126,75.9849113 181.362914,77.3555864 188.712066,79.0329319 C186.505679,86.1041206 183.755673,93.4974728 180.518546,101.076741 C178.196419,96.6680702 175.740322,92.2229454 173.153901,87.7550367 L173.153901,87.7550367 Z M128.122121,43.8938899 C133.166461,49.3588189 138.218091,55.4603279 143.186789,62.0803968 C138.179814,61.8439007 133.110868,61.720868 128.000001,61.720868 C122.937434,61.720868 117.905854,61.8411667 112.929865,62.0735617 C117.903575,55.515009 122.99895,49.4217021 128.122121,43.8938899 L128.122121,43.8938899 Z M82.8018984,87.830679 C80.2715265,92.2183886 77.8609975,96.6393627 75.5753239,101.068539 C72.3906004,93.5156998 69.6661103,86.0886276 67.440586,78.9171899 C74.7446255,77.2826781 82.5335049,75.9461789 90.6495601,74.9332099 C87.9610684,79.1268011 85.3391054,83.4302106 82.8018984,87.8297677 L82.8018984,87.830679 L82.8018984,87.830679 Z M90.8833221,153.182899 C82.4979621,152.247395 74.5919739,150.979704 67.289757,149.390303 C69.5508242,142.09082 72.3354636,134.505173 75.5876271,126.789657 C77.8792246,131.215644 80.2993228,135.638441 82.8451877,140.03572 L82.8456433,140.03572 C85.4388987,144.515476 88.1255676,148.90364 90.8833221,153.182899 L90.8833221,153.182899 Z M128.424691,184.213105 C123.24137,178.620587 118.071264,172.434323 113.021912,165.780078 C117.923624,165.972373 122.921029,166.0708 128.000001,166.0708 C133.217953,166.0708 138.376211,165.953235 143.45336,165.727219 C138.468257,172.501308 133.434855,178.697141 128.424691,184.213105 L128.424691,184.213105 Z M180.622896,126.396409 C184.044571,134.195313 186.929004,141.741317 189.219234,148.9164 C181.796719,150.609693 173.782736,151.973534 165.339049,152.986959 C167.996555,148.775595 170.619884,144.430263 173.197646,139.960532 C175.805484,135.438399 178.28163,130.90943 180.622896,126.396409 L180.622896,126.396409 Z M163.724586,134.496971 C159.722835,141.435557 155.614455,148.059271 151.443648,154.311611 C143.847063,154.854776 135.998946,155.134562 128.000001,155.134562 C120.033408,155.134562 112.284171,154.887129 104.822013,154.402745 C100.48306,148.068386 96.285368,141.425078 92.3091341,134.556664 L92.3100455,134.556664 C88.3442923,127.706935 84.6943232,120.799333 81.3870228,113.930466 C84.6934118,107.045648 88.3338117,100.130301 92.276781,93.292874 L92.2758697,93.294241 C96.2293193,86.4385872 100.390102,79.8276317 104.688954,73.5329157 C112.302398,72.9573964 120.109505,72.6571055 127.999545,72.6571055 L128.000001,72.6571055 C135.925583,72.6571055 143.742714,72.9596746 151.353879,73.5402067 C155.587114,79.7888993 159.719645,86.3784378 163.688588,93.2350031 C167.702644,100.168578 171.389978,107.037901 174.724618,113.77508 C171.400003,120.627999 167.720871,127.566587 163.724586,134.496971 L163.724586,134.496971 Z M186.284677,12.3729198 C194.857321,17.3165548 198.191049,37.2542268 192.804953,63.3986692 C192.461372,65.0669011 192.074504,66.7661189 191.654369,68.4881206 C181.03346,66.0374921 169.500286,64.2138746 157.425315,63.0810626 C150.391035,53.0639249 143.101577,43.9572289 135.784778,36.073113 C137.751934,34.1806885 139.716356,32.3762092 141.672575,30.673346 C160.572216,14.2257007 178.236518,7.73185406 186.284677,12.3729198 L186.284677,12.3729198 Z M128.000001,90.8080696 C140.624975,90.8080696 150.859926,101.042565 150.859926,113.667995 C150.859926,126.292969 140.624975,136.527922 128.000001,136.527922 C115.375026,136.527922 105.140075,126.292969 105.140075,113.667995 C105.140075,101.042565 115.375026,90.8080696 128.000001,90.8080696 L128.000001,90.8080696 Z" fill="#00D8FF"> </path> </g> </g></svg>
        </div>
      </div>
    </div>
        <!--END OF ABOUT ME DIV -->
      </div>
    </div>
    </section>
      <!-- END OF ABOUT ME SECTION -->

      <!-- START OF BLOG POSTS SECTION>
      <section class="blog-posts-section" id="blog-posts-section">
        <div class="blog-posts-section-title">
          <h2>Featured Articles</h2>
        </div>

        <div class="flex justify-center">
          <div class="container flex flex-col items-center">
            <div class="flex flex-row self-start">
              <svg about-me="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                <path
                  style="fill:#ffffff"
                  d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                  data-name="Right"
                >
                </path>
              </svg>
              <div class="">
                <a href="/blog/" class="ml-2">View more</a>
              </div>
            </div>
             BLOG POSTS IMPORTED INTO MAIN PAGE 
            <div class="flex pt-10 pb-20">
              <ul class="flex flex-wrap justify-center max-w-full">
                {
                  featuredArticles.map((post) => (
                    <BlogPost
                      url={post.slug}
                      title={post.data.title}
                      image={post.data.image}
                      duration={post.data.duration}
                      date={post.data.date}
                      pitch={post.data.pitch}
                    />
                  ))
                }
              </ul>
            </div>
          </div>
        </div>
      </section>
       END OF BLOG POSTS SECTION -->
  </main>
  <script>
document.addEventListener("DOMContentLoaded", () => {
  // Use optional chaining to safely access the elements
  const openModalButtons = document.querySelectorAll('.openModal');
  const modal = document.getElementById('modal')?.classList;
  const closeModalButton = document.getElementById('closeModal');

  if (openModalButtons && modal && closeModalButton) {
    openModalButtons.forEach((button) => {
      button.addEventListener('click', () => {
        modal.remove('hidden');
      });
    });

    closeModalButton.addEventListener('click', () => {
      modal.add('hidden');
    });
  } else {
    console.warn("Required elements for modal functionality not found.");
  }
});
</script>
</Layout>

